#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 2em #fc9347);
}
.logo:hover {
  filter: drop-shadow(0 0 2em #de861aaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #e30707aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  margin-top: 20px;
  color: #888;
}
.puppet-list {
  animation: flip 3s; 
  font-size: 26px;
}
.main-puppet {
  animation: bounce 3s infinite; 
  font-size: 70px;
  margin-bottom: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.time-talking {
  font-size: 40px; 
  color:#fc9347;
  margin-top: 40px;
}
